
* {
    box-sizing: border-box;
}
.icon {
    font-size: 4rem;
}
html {
    font-size: 16px;
}
body {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2rem;
    text-align: center;
}
h1 {
    font-size: 4rem;
}
label {
    font-size: 3.5rem;
    display:block;
    margin-bottom: 1rem;
}
input {
    display:block;
    font-size: 3.5rem;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ccc;
}
.current {
    margin-top: 2rem;
}
h3 {
    font-size: 3.5rem;
}
.content {
    max-width: 900px;
    text-align: left;
    margin:auto;
}
